html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.accordion-button.collapsed {
    border: 1px solid #007bff;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.accordion-button.collapsed:hover {
    background-color: #0056b3;
    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: #0056b3;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.accordion-button:not(.collapsed):hover {
    background-color: #004085;
    color: white;
}
