
.accordion-button.collapsed {
    border: 1px solid #007bff;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.accordion-button.collapsed:hover {
    background-color: #0056b3;
    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: #0056b3;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.accordion-button:not(.collapsed):hover {
    background-color: #004085;
    color: white;
}

.expanding-column {
    flex-grow: 1;
    overflow: auto;
    word-break: break-word;
}
.fixed-day-column {
    width: 10%;
    white-space: nowrap;
    text-align: center;
}




