@page
@model FamilyCalender.Web.Pages.AccountVerifiedModel
@{
}
<h1>Ditt konto är nu verifierat</h1>
<h3>Tryck på knappen för att logga in och skapa din första kalender!</h3>
<a class="btn btn-primary" asp-page="/Login">Logga in</a>
