 @page
@model FamilyCalender.Web.Pages.CreateCalendarModel
@{
}

<div class="container mt-5">
    <h2>Skapa Kalender</h2>
    <form method="post" class="mt-4">
        <div class="mb-3">
           
        </div>

        <div class="form-floating mb-2">
            <input asp-for="Calendar.Name" class="form-control" name="Calendar.Name" type="text" />
            <span asp-validation-for="Calendar.Name" class="text-danger"></span>
            <label for="Calendar.Name" class="form-label">Kalendernamn</label>
        </div>
        
        <h4>Skapa medlem</h4>
        <div class="input-group mb-2">
            <div class="form-floating">
                <input type="text" id="memberName" class="form-control" />
                <label class="form-label" for="memberName">Namn</label>
            </div>
            <button type="button" class="input-group-text btn btn-secondary pt-3" onclick="addMember()">Lägg till</button>
        </div>
        
        <ul id="memberList" class="list-group mb-3">
        </ul>

        <div id="hiddenMembersInputs"></div>

        <button type="submit" class="btn btn-primary"><i class="fa fa-save fa-1x"></i> Skapa kalender</button>
    </form>
</div>
