 @page
@model FamilyCalender.Web.Pages.CreateCalendarModel
@{
}

<div class="container mt-5">
    <h2>Skapa Kalender</h2>
    <form method="post" class="mt-4">
        <div class="mb-3">
            <label for="Calendar.Name" class="form-label">Kalendernamn:</label>
            <input asp-for="Calendar.Name" class="form-control" />
            <span asp-validation-for="Calendar.Name" class="text-danger"></span>
        </div>

        <h4>Lägg till medlemmar</h4>
        <div class="mb-3">
            <input type="text" id="memberName" class="form-control" placeholder="Skriv namn här" />
            <button type="button" class="btn btn-primary mt-2" onclick="addMember()">Lägg till</button>
        </div>

        <ul id="memberList" class="list-group mb-3"></ul>

        <div id="hiddenMembersInputs"></div>

        <button type="submit" class="btn btn-success">Skapa kalender</button>
    </form>
</div>
