@page
@using FamilyCalender.Web.Pages
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Tusan också!</h1>
<h2 class="text-danger">Ett sånt där tråkigt fel inträffade</h2>

<p>Vi har loggat felet men du får jättegärna slänga iväg ett mail om vad du gjorde när fleet inträffade till kontakt@planeramedflera.se så får vi piska på våra utvecklare att <strong>Göra om, Göra rätt</strong></p>
