@page
@model FamilyCalender.Web.Pages.ForgotPasswordModel
@{
}
<h2>Återställ lösenord</h2>
<p>Ange din registrerade e-postadress för att få en återställningslänk.</p>

<form method="post">
    <div class="form-floating mb-3">
        <input asp-for="Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" />
        <label asp-for="Email">E-post</label>
    </div>

    <button type="submit" class="mt-2 btn btn-primary">Skicka återställningslänk</button>
</form>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <p class="mt-2">@Model.Message</p>
}