@page
@model FamilyCalender.Web.Pages.ForgotPasswordModel
@{
}
<h2>Återställ lösenord</h2>
<p>Ange din registrerade e-postadress för att få en återställningslänk.</p>

<form method="post">
    <div class="form-group">
        <label for="email">E-post</label>
        <input type="email" id="email" name="Email" class="form-control" required />
    </div>
    <button type="submit" class="mt-2 btn btn-primary">Skicka återställningslänk</button>
</form>