@page
@model FamilyCalender.Web.Pages.ForgotPasswordModel
@{
    Layout = "_LayoutPublic";
}

<div class="auth-card">
    <h2>Återställ lösenord</h2>
    <p class="text-center">Ange din registrerade e-postadress för att få en återställningslänk.</p>

    <form method="post">
        <div class="form-group">
            <label asp-for="Email">E-postadress:</label>
            <input asp-for="Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <button type="submit" class="w-100 btn btn-lg btn-pmf">Skicka återställningslänk</button>
    </form>

    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <p class="mt-2 text-success text-center">@Model.Message</p>
    }
</div>
