<?xml version="1.0" encoding="utf-8"?> 
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<PropertyGroup>
		
		<DbConnectionString>Data Source=../FamilyCalender.Infrastructure/FamilyCalender.db</DbConnectionString>
		<SmtpServer>smtp.simply.com</SmtpServer>
		<HostingDomain>https://localhost:7223</HostingDomain>
	</PropertyGroup>
</Project>
