<?xml version="1.0" encoding="utf-8"?> 
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<PropertyGroup>

		<DbConnectionString>Data Source=APP_DATA/FamilyCalender.db</DbConnectionString>
		<SmtpServer>websmtp.simply.com</SmtpServer>
	</PropertyGroup>
</Project>
