@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h3><img src="~/images/Logo2.png" alt="Ikon" class="corner-icon" /> Planer Med Flera</h3>
<p>Välkommen till <b>Planer Med Flera</b> som gör det lättare att dela kalendrar med varandra.</p>

<p>
    Kanske är ni en familj med flera familjemedlemmar och det skulle underlätta att ha en gemensam översikt för hela familjen.
    Där alla kan se vilka dagar och tider fotbollsträningen eller dansen är. Här får du en överblick för hela familjen eller kompisgänget.
</p>
<img src="~/images/overview.png" class="img-thumbnail" width="450"/>
<br/>
<br />
<p>
    Med denna kalender kan du enkelt skapa kalenderhändelse baserat på intervall. Till exempel så kanske grabbens eller dotterns innebandyträning alltid förekommer tisdagar och torsdagar.
    Då är det lätt att skapa en händlese och markera aktuella dagar.
</p>
<br />
<img src="~/images/create-event.png" class="img-fluid" width="450" />

<h3>Dela</h3>
<p>Du kan enkelt dela din kalender med dina kompisar eller familjemedlemmar så ni alla kan ta del av den och lägga till händelser</p>