@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-md-12">
        <h3>Planer Med Flera</h3>
        <p>Välkommen till appen som ger en bättre kalender översikt och som du kan dela med din partner.</p>
        <p>
            Kanske är ni en familj och det skulle underlätta att ha en gemensam översikt för alla familjemedlemmar.
            Där alla kan se vilka dagar och tider fotbollsträningen eller dansen är. Här får du en överblick för hela familjen eller kompisgänget.
        </p>
        <p>
            <strong>Med denna produkt kan du enkelt skapa kalenderhändelser som hela familjen kan se och ta del av!</strong>
        </p>


        <h5>Funktioner</h5>
        <ul>
            <li>Enkel översikt - en kolumn per namn för tydligare översikt</li>
            <li>Återkommande händelser - skapa enkelt efter önskat interval</li>
            <li>Dela enkelt med andra</li>
            <li>Skapa flera kalendrar</li>
            <li>Krypterad information - för din säkerhet så krypteras alla händelser du skapar</li>
            <li>Se vecko nummer</li>
            <li>Mycket mer på gång</li>
        </ul>
    </div>
    <div class="col-md-12">
        <h3>Hjälp oss att hjälpa er</h3>
        <p>Sidan må se tråkig ut och designen är inte den roligast - men lugn - det kommer.</p>
        <p>Vi är två utvecklare i varsin småbarnsfamilj där vi båda känt behovet av en gemensamkalender och andra verktyg som man vill dela med sin partner för att underlätta vardagen.</p>
        <p>
            Vi är intresserade av att höra vad ni tycker - ge oss gärna feedback. Vad skulle ni vilja fanns som kan underlätta er vardag.
            maila oss på <a href="mailto:kontakt@planeramedflera.se">kontakt@planeramedflera.se</a>
        </p>
    </div>
</div>




